<%= render 'carousel', pictures: @images %>

<nav id = "main-nav" class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home' %></li>
    <li><a href="#">Adults</a></li>
    <li><a href="#">Scouts</a></li>
    <li><%= link_to 'Badges', '/badges' %></li>
    <li><%= link_to 'Forms', '/forms'%></li>
    <!--<li class="dropdown">-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>-->
      <!--<ul class="dropdown-menu">-->
         <!--<li><a href="#">Documentation</a></li>-->
      <!--</ul>-->
  </ul>
</nav>


  <div class="row">
    <div class="col-md-3">
      <h2>Calendar</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor pulvinar varius. Ut varius lacus et diam ultrices mattis. Vivamus
      lobortis ornare massa ac porttitor. Praesent a nulla lectus. Quisque tincidunt mi lectus, sit amet vehicula eros eleifend ultricies. Nullam eu mi
      ipsum. Nulla eget sollicitudin nulla. Quisque eget magna vitae elit ultrices laoreet. Nullam congue massa non aliquet elementum. Etiam augue sapien,
      rutrum quis lacinia ut,
      mattis quis nibh. Fusce semper risus eu tristique gravida. Morbi rutrum imperdiet tincidunt. Curabitur non velit eros. Nunc sed sagittis erat.
      Praesent vulputate semper ante ut sagittis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor pulvinar varius. Ut varius lacus et diam ultrices mattis. Vivamus
        lobortis ornare massa ac porttitor. Praesent a nulla lectus. Quisque tincidunt mi lectus, sit amet vehicula eros eleifend ultricies. Nullam eu mi
        ipsum. Nulla eget sollicitudin nulla. Quisque eget magna vitae elit ultrices laoreet. Nullam congue massa non aliquet elementum. Etiam augue sapien,
        rutrum quis lacinia ut,
        mattis quis nibh. Fusce semper risus eu tristique gravida. Morbi rutrum imperdiet tincidunt. Curabitur non velit eros. Nunc sed sagittis erat.
        Praesent vulputate semper ante ut sagittis.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Current Events</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor pulvinar varius. Ut varius lacus et diam ultrices mattis. Vivamus
        lobortis ornare massa ac porttitor. Praesent a nulla lectus. Quisque tincidunt mi lectus, sit amet vehicula eros eleifend ultricies. Nullam eu mi
        ipsum. Nulla eget sollicitudin nulla. Quisque eget magna vitae elit ultrices laoreet. Nullam congue massa non aliquet elementum. Etiam augue sapien,
        rutrum quis lacinia ut,
        mattis quis nibh. Fusce semper risus eu tristique gravida. Morbi rutrum imperdiet tincidunt. Curabitur non velit eros. Nunc sed sagittis erat.
        Praesent vulputate semper ante ut sagittis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor pulvinar varius. Ut varius lacus et diam ultrices mattis. Vivamus
        lobortis ornare massa ac porttitor. Praesent a nulla lectus. Quisque tincidunt mi lectus, sit amet vehicula eros eleifend ultricies. Nullam eu mi
        ipsum. Nulla eget sollicitudin nulla. Quisque eget magna vitae elit ultrices laoreet. Nullam congue massa non aliquet elementum. Etiam augue sapien,
        rutrum quis lacinia ut,
        mattis quis nibh. Fusce semper risus eu tristique gravida. Morbi rutrum imperdiet tincidunt. Curabitur non velit eros. Nunc sed sagittis erat.
        Praesent vulputate semper ante ut sagittis.
      </p>
    </div>
    <div class="col-md-3">
      <h2>Upcoming Events</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor pulvinar varius. Ut varius lacus et diam ultrices mattis. Vivamus
        lobortis ornare massa ac porttitor. Praesent a nulla lectus. Quisque tincidunt mi lectus, sit amet vehicula eros eleifend ultricies. Nullam eu mi
        ipsum. Nulla eget sollicitudin nulla. Quisque eget magna vitae elit ultrices laoreet. Nullam congue massa non aliquet elementum. Etiam augue sapien,
        rutrum quis lacinia ut,
        mattis quis nibh. Fusce semper risus eu tristique gravida. Morbi rutrum imperdiet tincidunt. Curabitur non velit eros. Nunc sed sagittis erat.
        Praesent vulputate semper ante ut sagittis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor pulvinar varius. Ut varius lacus et diam ultrices mattis. Vivamus
        lobortis ornare massa ac porttitor. Praesent a nulla lectus. Quisque tincidunt mi lectus, sit amet vehicula eros eleifend ultricies. Nullam eu mi
        ipsum. Nulla eget sollicitudin nulla. Quisque eget magna vitae elit ultrices laoreet. Nullam congue massa non aliquet elementum. Etiam augue sapien,
        rutrum quis lacinia ut,
        mattis quis nibh. Fusce semper risus eu tristique gravida. Morbi rutrum imperdiet tincidunt. Curabitur non velit eros. Nunc sed sagittis erat.
        Praesent vulputate semper ante ut sagittis.
      </p>
    </div>
  <div>

