// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.inner-item {
  text-align: center;

  img {
    margin: 0 auto;
    height:400px;
    width:auto;
    overflow:hidden;
  }


}

.carousel-caption{
  color:black;
}

#main-nav {
  text-align: center;
  ul.nav{
    float:none;
    display:inline-block;

  }
}

td.icon{

}

#badge-table{
  td {
    text-align:center;
  }
  img{
    height:125px;
    width: 125px;
  }
  img.icon{
    height:20px;
    width:20px;
  }

}